.deliver-wrapper {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

.deliver-item {
	text-align: center;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	padding: 12px;
	border: 1px solid #d9d9d9;
  width: 300px;
}

.deliver-user-icon {
	font-size: 46px;
	margin-bottom: 10px;
}

.deliver-item p,
.deliver-item h5 {
	margin-bottom: 0;
}

.deliver-btn-group {
	margin-top: 10px;
}

.btn-desc-deliver {
	color: #7e258c !important;
	background-color: transparent !important;
	border: 1px solid #7e258c;
}

.btn-desc-deliver:hover {
	background-color: transparent !important;
	border: 1px solid #7d258bda !important;
	color: #7d258bda !important;
}

.btn-desc-deliver:active {
	transform: scale(0.97);
}

.deliverInfo {
	position: fixed;
	top: 80px;
	right: 20px;
	color: #fff;
	padding: 7px 20px;
	background-color: #7e258c;
	border-radius: 6px;
}

.deliverInfo span {
	padding: 0 20px;
}
