.login-wrapper {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 460px;
}

/* left */
.login-left {
	background: var(--bg-neutral);
	padding: 30px 180px;
	position: relative;
}

.login-left h1 {
	color: var(--color-primary);
	font-size: var(--text-xxl);
}

.login-left img {
	width: calc(100% - 20dvw);
	height: auto;
	object-fit: contain;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* right */
.login-right {
	background: var(--bg-light);
	display: grid;
	place-items: center;
	text-align: left;
	padding: 0 40px;
}

.login-form {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login-form h2 {
	font-size: var(--text-xl);
	color: var(--color-secondary);
}

.login-form h4 {
	font-size: var(--text-md);
	color: var(--color-accent);
	font-weight: 400;
}

.password-input {
	position: relative;
}

.password-input svg {
	position: absolute;
	bottom: 12px;
	right: 12px;
	cursor: pointer;
}

.login-btn {
	width: 100%;
	height: 44px;
	border-radius: var(--radius-sm);
	color: var(--color-light);
	font-size: var(--text-lg);
	border: none;
	outline: none;
	background-image: linear-gradient(to right, #1e88e5, #42a5f5);
	/* position: relative;
	z-index: 2; */
}

/* .login-btn::after {
	width: 100%;
	height: 44px;
	border-radius: 6px;
	color: #ffffff;
	font-size: 16px;
	border: none;
	outline: none;
	display: grid;
	place-items: center;
	position: absolute;
	content: "Kirish";
	inset: 0;
	background-image: linear-gradient(to left, #1e88e5, #42a5f5);
	z-index: 1;
	opacity: 0;
	transition: opacity 0.25s linear;
} */

/* .login-btn:hover::after {
	opacity: 1;
} */

.login-btn:disabled {
	background: var(--bg-disabled);
	cursor: not-allowed;
}
