.currency-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

.currency-item {
	text-align: center;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	padding: 1rem;
	border: 1px solid #d9d9d9;
	width: 300px;
}

.currency-item-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1.5rem;
}

.currency-item-top h3 {
	margin: 0;
}

.currency-item-top h3 span {
	font-size: 22px;
	margin-left: 10px;
}

.currency-item-bottom {
	text-align: left;
	height: 40px;
}

.currency-item-bottom span {
	line-height: 2;
	font-size: 18px;
}

.currency-item button {
	float: right;
}

.currency-option div span {
	transition: 0.1s;
}
.currency-option div:hover span:first-child {
	font-size: 0;
}

.currency-content-select, .currency-content-input {
	width: 200px !important;
}

.currency-info {
	position: fixed;
	top: 80px;
	right: 20px;
	color: #fff;
	padding: 7px 20px;
	background-color: #7e258c;
	border-radius: 6px;
}

.currency-info span {
	padding: 0 20px;
}
