.card-item.goods {
	height: 120px;
}

.goods .card-item-top h3 {
	font-size: var(--text-modal);
	color: var(--color-secondary);
}

.goods .card-item-bottom h3 {
	font-size: var(--text-md);
	color: var(--color-accent);
	font-weight: var(--weight-thin);
}

.goods .card-item-bottom h4 {
	font-weight: var(--weight-thin);
	font-size: var(--text-sm);
	color: var(--color-accent);
}
