.card-item.clients {
	height: 170px;
}

.clients .card-item-top h3 {
	font-size: var(--text-modal);
	color: var(--color-secondary);
}

.clients .card-item-bottom h4 {
	font-size: var(--text-md);
	color: var(--color-accent);
}

.clients .card-item-bottom h5 {
	font-size: var(--text-sm);
	color: var(--color-accent);
}

.clients .card-item-bottom button {
	color: var(--color-success);
	border: none;
	background: none;
	text-align: left;
	transition: 0.1s;
}

.clients .card-item-bottom button:hover {
  filter: brightness(1.1);
}
