.clients-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

.clients-item {
	text-align: left;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	padding: 12px 20px;
	border: 1px solid #d9d9d9;
	width: 300px;
}

.clients-item button {
	float: right;
}

.btn-desc {
	float: left !important;
	color: #7e258c !important;
	background-color: transparent !important;
	border: 1px solid #7e258c;
}

.btn-desc:hover {
	background-color: transparent !important;
	border: 1px solid #7d258bda !important;
	color: #7d258bda !important;
}

.btn-desc:active {
	transform: scale(0.97);
}

.clients-desc {
	position: absolute;
	background-color: #fff;
	border-radius: 12px;
	width: auto;
	height: auto;
	transition: max-height 0.3s ease-in-out;
	margin-left: -1rem;
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	text-align: left;
}
.clients_desc-i {
	padding: 10px;
	border-radius: 12px;
	border: 1px solid #9e9e9e;
}
.clients_desc-item {
	height: 200px;
	overflow-y: auto;
}
.hide-client-desc {
	max-height: 0;
}

button:disabled {
	border: none;
}

.clients-info {
	position: fixed;
	top: 80px;
	right: 20px;
	color: #fff;
	padding: 7px 20px;
	background-color: #7e258c;
	border-radius: 6px;
}

.clients-info span {
	padding: 0 20px;
}
