.top-bar {
	width: calc(100% - 20px);
	height: 64px;
	position: static;
	z-index: 1;
	background-color: var(--bg-light);
	display: flex;
	align-items: center;
	border-radius: var(--radius-lg);
	box-shadow: var(--shadow-md);
}

.nav-toggle {
	margin: 0 16px;
	border: none;
	outline: none;
	background: none;
}

/* user info */
.nav-user__info {
	position: absolute;
	right: 32px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}
.nav-user__image img {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;
}
.nav-user__about {
	height: 100%;
	text-align: right;
}
.nav-user__about p {
	color: var(--color-secondary);
	font-size: var(--text-md);
	margin: 0;
	padding: 0;
	margin-top: 2.5px;
	margin-bottom: -2.5px;
}
.nav-user__about span {
	color: var(--color-accent);
	font-weight: var(--weight-sm);
	font-size: var(--text-sm);
}
