.top-bar {
	width: 100%;
	height: 60px;
	position: static;
	z-index: 1;
	background-color: #fff;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
}

.nav-toggle {
	margin: 0 20px;
}

.search-form {
	width: 250px;
	height: 40px;
	line-height: 40px;
	position: relative;
}

.search-form input {
	padding-left: 35px;
}

.search-form img {
	opacity: 0.7;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
	z-index: 5;
}

.nav-icons {
	position: absolute;
	right: 300px;
}
.nav-icons i {
	font-size: 18px;
	color: #7e258c;
	position: relative;
}
span.dot {
	width: 6px;
	height: 6px;
	background-color: #30af25;
	border-radius: 50%;
	position: absolute;
	right: 1px;
	top: 2px;
}

.language-select {
	display: flex;
	flex-direction: column;
	display: none;
}

.nav-user__info {
	position: absolute;
	right: 20px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-user__image img {
	width: 30px;
	height: auto;
	margin-right: 5px;
}
.nav-user__about {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.nav-user__about p {
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-bottom: -17px;
}
.nav-user__about span {
	margin-top: 10px;
	padding: 0;
	font-size: 14px;
}
