.card-item.emp {
	height: 170px;
}

.card-item-bottom.emp {
	& h4 {
		color: var(--color-secondary);
		font-size: var(--text-modal);
	}

	& h5 {
		color: var(--color-accent);
		font-size: var(--text-md);
	}
}
